Altodiciplina
./01-fundamentos/bloco-01-unix-e-shell/dia-03-unix-e-bash-parte-1/unix_tests/countries.txt
./01-fundamentos/bloco-01-unix-e-shell/dia-03-unix-e-bash-parte-1/unix_tests/empty.pdf
./01-fundamentos/bloco-01-unix-e-shell/dia-03-unix-e-bash-parte-1/unix_tests/empty.tbt
./01-fundamentos/bloco-01-unix-e-shell/dia-03-unix-e-bash-parte-1/unix_tests/phrases.txt
./01-fundamentos/bloco-01-unix-e-shell/dia-04-unix-e-bash-parte-2/unix_tests/bunch_of_things.txt
./01-fundamentos/bloco-01-unix-e-shell/dia-04-unix-e-bash-parte-2/unix_tests/countries.txt
./01-fundamentos/bloco-01-unix-e-shell/dia-04-unix-e-bash-parte-2/unix_tests/phrases2.txt
./01-fundamentos/bloco-01-unix-e-shell/dia-04-unix-e-bash-parte-2/unix_tests/skills2.txt
./01-fundamentos/bloco-01-unix-e-shell/dia-04-unix-e-bash-parte-2/unix_tests/top_skills.txt
