.super-mario {
    width: 200px;
    position: absolute;
    

  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 380px;
    
  }
  
  .baloon {
    position: absolute;
    top: 90px;
    right: 15em;
    z-index: 1;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    top: 130px;
    right: 11em;
    z-index: 2;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    top: 250px;
    right: 4em;
   
    
  }